.container {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}



.body {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rowcontainer {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.script {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 45%;
  margin: 5%;
  padding: 1%;
  background: rgba(176, 144, 61, 0.2);
  border: none;

  font: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 53px;
  overflow-y: scroll;
  resize: none;
}
.script::-webkit-scrollbar {
  width: 1em;
}
.script::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  /* outline: 1px solid slategrey; */
}

.chartBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 41%;
  /* min-height: 77%; */
  /* height: 77%; */
  margin: 5%;
  background: rgba(176, 144, 61, 0.2);
  border-radius: 53px;
  padding: 1%;
  overflow-y: scroll;
}

.chartBox::-webkit-scrollbar {
  width: 1em;
}
/* .chart::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
} */

.chartBox::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  /* outline: 1px solid slategrey; */
}

.charts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
}

.emotionTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.7);
}

.button {
  width: 431px;
  height: 86px;
  margin-left: 40%;
  margin-right: 50%;
  margin-bottom: 3%;
  background: rgba(176, 144, 61, 0.7);
  border-radius: 20px;

  font: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  color: #f7f7f7;
}

.button:hover {
  /* scale: (1.2, 1.2); */
  cursor: pointer;
}

.back {
  height: 7%;
  width: 7%;
  color: #B0903D;
  transform: translate(20%, 100%);
}

.back:hover {
  cursor: pointer;
  opacity: 0.7;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}