html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  height: 100%;
}

#__next {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.title {
  height: 10%;
  color: rgb(156, 114, 3);
  position: absolute;
  top: 5%;
  z-index: 10;
  width: 100%;
  text-align: center;
  font-family:'Alfa Slap One';
  font-weight: 600;
  letter-spacing: 45px;
  text-transform: uppercase;
  font-size: 52px;

  background: -webkit-linear-gradient(rgb(255, 238, 53) 0%, rgb(245, 180, 1) 29%, rgba(0, 0, 0, 0.989));
  background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: 4.5s titleFadeIn ease-out, once;
}

.explore-button {
  font-family: 'serif';
  position: absolute;
  top: 85%;
  right: 25%;
  border: 2px solid rgb(126, 93, 0);
  height: 5%;
  width: 20%;
  background-color: rgba(62, 68, 73, 0.357);
  color: #B0903D;
  font-size: 19px;
  border-radius: 20px;
  margin-bottom: 3%;
  animation: 3s buttonFadeIn ease-out, once;
}


.explore-button:hover {
  border: 3px solid rgb(126, 93, 0);
  background-color: rgba(170, 174, 176, 0.168);
  color:#B0903D;
  cursor: pointer;
}

@keyframes buttonFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  50% {
    opacity: 0;

  }

  80% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes titleFadeIn {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.view-one {
  display: flex;
  flex-direction: column;
}

#videoBG {
  z-index: -2;
  position: fixed;
  top:0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}

canvas {
  position: fixed;
  height: 80%;
  top: 0;
  left: 0;
  z-index: -1;
}


.learn-button {
  font-family: 'serif';
  position: absolute;
  top: 85%;
  left: 25%;
  border: 2px solid rgb(126, 93, 0);
  height: 5%;
  width: 20%;
  background-color: rgba(62, 68, 73, 0.357);
  color: #B0903D;
  font-size: 19px;
  border-radius: 20px;
  margin-bottom: 3%;
  animation: 3s buttonFadeIn ease-out, once;
}

.learn-button:hover {
  border: 3px solid rgb(126, 93, 0);
  background-color: rgba(170, 174, 176, 0.168);
  color:#B0903D;
  cursor: pointer;
}

.container {
  background-color: rgba(0, 0, 0, 0.737);
  display: flex;
  font-size: 1.5em;
  flex-direction: column;
  align-items: center;
  position: absolute;
  /* border: 2px solid red; */
  top: 120%;
  margin: 0;
  color:white;
  animation: 3s titleFadeIn ease-out, once;
  padding-bottom: 0.5em;
}

.fa-microphone {
  padding-right: 0.5em;
}

li {
  list-style: none;
  margin: 1em;
}