html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  height: 100%;
}

#__next {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.title {
  height: 10%;
  color: rgb(156, 114, 3);
  position: absolute;
  top: 5%;
  z-index: 10;
  width: 100%;
  text-align: center;
  transform: translate(0, 50%);
  font-family:'Alfa Slap One';
  font-weight: 600;
  letter-spacing: 45px;
  text-transform: uppercase;
  font-size: 52px;

  background: -webkit-linear-gradient(rgb(255, 238, 53), rgb(245, 180, 1), rgba(0, 0, 0, 0.989));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*
.view-one {
  display: flex;
  flex-direction: column;

} */

canvas {
  position: fixed;
  height: 80%;
  top: 0;
  left: 0;
  z-index: -1;
}

.button {
  position: absolute;
  top: 85%;
  left: 35%;
  border: 8px solid #B0903D;
  height: 10%;
  width: 30%;
  background-color: rgba(62, 68, 73, 0.5);
  color: #B0903D;
  font-size: 30px;
  border-radius: 20px;
  margin-bottom: 3%;
}