.header {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 37.8%;
  background-color: #b0903d;
  opacity: 0.7;
  padding-left: 2.5rem;
}

.title {
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 2.3rem;
  letter-spacing: 0.3rem;
  margin: 0px;
}

.menuIcon {
  font-size: 2.5rem;
  color: white;
}

.drawerItems {
  width: 15rem;
  /* font-size: 5rem; */
}

.drawerItem {
  height: 4rem;
}

.drawerItemText {
  font-size: 1.5rem;
  color: #B0903D;
  font-weight: 450;
  /* text-transform: uppercase; */
}

.drawerTopBar {
  height: 5.34rem;
  background-color: #B0903D;
  opacity: 0.7;
  display: flex;

}

.drawerTopBarItem {
  margin-left: 0px;
}

.drawerTopBarText {
  font-size: 1.5rem;
  font-weight: 450;
  color: white;
}
/* .drawerItem {
  scale: 2
} */