.container {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
}


.body {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.span {
  color: #b0903d;
  font-size: 4rem;
  margin-bottom: 10vh;
  text-align: center;
}

.completeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #b0903d;
  margin-top: 2.5vh;
}

.forward {
  height: 7%;
  width: 7%;
  color: #b0903d;
  margin-top: 2.5vh;
}

.forward:hover {
  cursor: pointer;
  opacity: 0.7;
}

/*

.title {

  color: rgb(156, 114, 3);
  position: absolute;
  top: 5%;
  z-index: 10;
  width: 100%;
  text-align: center;
  transform: translate(0, 50%);
  font-family:'Alfa Slap One';
  font-weight: 600;
  letter-spacing: 45px;
  text-transform: uppercase;
  font-size: 52px;

  background: -webkit-linear-gradient(rgb(255, 238, 53), rgb(245, 180, 1), rgba(0, 0, 0, 0.989));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
} */
