.format {
  position: absolute;
  width: 180px;
  height: 18px;
  left: 563px;
  top: 545px;

  font: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #B0903D;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  width: 429px;
  height: 130px;
  left: 557px;
  top: 460px;
}