.button {
  border: none;
  border-radius: 20px;
  background-color: rgba(176, 144, 61, 0.2);
  opacity: 70%;
  transition: 1s;
  position: absolute;
  width: 429px;
  height: 109px;
  left: 557px;
  top: 448px;
  font: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #B0903D;
}

.button:hover {
  /* scale: (1.2, 1.2); */
  cursor: pointer;
}

.format {
  position: absolute;
  width: 180px;
  height: 18px;
  left: 563px;
  top: 545px;

  font: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #B0903D;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  width: 429px;
  height: 130px;
  left: 557px;
  top: 460px;
}