.button {
  border: none;
  border-radius: 20px;
  background-color: rgba(176, 144, 61, 0.2);
  opacity: 70%;
  transition: 1s;
  width: 429px;
  height: 109px;
  font: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #B0903D;
  margin: 10px;
}

.button:hover {
  /* scale: (1.2, 1.2); */
  cursor: pointer;
  background-color: #B0903D;
  color: white;
}

.format {
  width: 180px;
  height: 18px;
  font: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #B0903D;
}

